{
	"folders": [
		{
			"name": "mj.noai",
			"path": "../../../mj.noai"
		},
		{
			"path": "../../../mj-ofun"
		},
		{
			"path": "../../../stai-copilot"
		},
		{
			"path": "../../../stai-bins"
		},
		{
			"path": "../../../stai-tools"
		},
		{
			"path": "../../../vscode-src"
		},
		{
			"path": "../../../vscode-staiwatch-logger"
		},
		{
			"path": "../../../vscode-staiwatch-wmem"
		},
		{
			"path": "../../../git-wmem"
		},
		{
			"path": "../../../mj-pkgs"
		},
		{
			"path": "../../../stai-vscode-userconf"
		},
		{
			"path": "../.."
		}
	],
	"settings": {
		"files.associations": {
			"*.noai.*": "noai",
			"*.noai": "noai"
		}
	}
}