{
	"folders": [
		{
			"name": "mj.noai",
			"path": "../../..//mj.noai"
		},
		{
			"path": "../../../mj-ofun"
		},
		{
			"path": "../../../stai-copilot"
		},
		{
			"path": "../../../stai-bins"
		},
		{
			"path": "../../../stai-tools"
		},
		{
			"path": "../../../vscode-src"
		},
		{
			"name": "vscode-staiwatch-logger",
			"path": "../../..//vscode-staiwatch-logger"
		},
		{
			"name": "vscode-staiwatch-wmem",
			"path": "../../..//vscode-staiwatch-wmem"
		},
		{
			"name": "stai-vscode",
			"path": "../../..//stai-vscode"
		},
		{
			"path": "../../../stai-vscode-userconf"
		},
		{
			"path": "../.."
		}		
	],
	"settings": {
		"files.associations": {
			"*.noai.*": "noai",
			"*.noai": "noai"
		}
	}
}